[Desktop Entry]
Version=1.0
Name=TMAIC Password Manger
Comment=password manger written by me TMAIC
Exec=$HOME/.local/share/icons/TMAICPM/TMAICPM
Icon=icons/TL.png
Terminal=false
Type=Application
Categories=Utility;Development;Office: